/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
ul{
    list-style: none;
}
.debug{
    border: 1px solid red;
}
:root {
	--color-black: #000000;
	--color-footer: #222222;
	--color-green-share: #49c302;
	--color-red-endmeeting: #cf1f22;
}

/* flex utilities */
.d-flex{
    display: flex;
}
.no-flex{
    display: block;
}
.align-items-center{
    align-items: center;
    align-content: center;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.row-reverse{
    flex-direction: row-reverse;
}
.justify-start{
    justify-content: flex-start;
}
.justify-space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-flexend{
    justify-content: flex-end;
}
.wrap{
    flex-wrap: wrap;
}
.align-baseline{
    align-items: baseline;
}
.space-around{
    justify-content: space-around;
}
.align-flex-start{
    align-items: flex-start;
}
/* end flex utilities */

header{
    background-color: var(--color-black);
    color: white;
    /* position: fixed; */
    width: 100%;
    height: 60px;
    z-index: 1001;
}
#main{
    height: calc(100% - 130px);
    background-color: var(--color-black);
    color: white;

}
.tile{
    width: calc(100% / 7);
    aspect-ratio: 16 / 9;
    position: relative;
    padding-left: 5px;
    padding-bottom: 5px;
}
.tile img{
    aspect-ratio: 16 / 9;
    max-width: 100%;
    height: 100%;
    display: block;    
}
.badge{
    background-color: rgba(128, 128, 128, 0.542);
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 5px;
    
}
footer{
    background-color: var(--color-footer);
    color: white;
    height: 70px;
}
header>div span{
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.542);
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
}

.button{
    padding: 7px;
}
.icon{
    font-size: 30px;
    text-align: center;
}
.caret{
}